<div class="card">
    <div class="card-container">
        <div class="card-content">
            <h2 class="card-title">{{ name }}</h2>
            <div class="card-logo">
                <img src="../assets/Vector.svg" *ngIf="VisaSystem; else MasterCardSystem" alt="Card Logo"/>
                <ng-template #MasterCardSystem>
                    <img src="../assets/mastercard-logo-96.png" alt="Card Logo"/>
                </ng-template>
            </div>

            <span class="card-number">
                {{ number }}
            </span>

            <div class="card-amount">
                {{ amount }}
            </div>
            <span class="card-date">
                {{ expirationDate }}
            </span>
        </div>
    </div>
</div>